################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WpfApp1/.vs/WpfApp1/FileContentIndex/b00b775e-7057-421a-937f-30ad08b15b55.vsidx
